@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord conformatie vergeten";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bekijk je email om uw wachtwoord te veranderen, alsjeblieft.
</p>
