@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Dit account kan momenteel niet bereikt worden. Probeer later opnieuw of neem contact op met de organisatie.</p>
</header>
