@page
@model LogoutModel
@{
    ViewData["Title"] = "afmelden";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="green-button">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>Je bent afgemeld.</p>
        }
    }
</header>
